<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Payment Method" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        ** Coming Soon **
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="welcome-card">
    <!-- <img src="assets/imgs/dc-Cover-u0b349upqugfio195s4lpk8144-20190213120303.Medi.jpeg"> -->
    <ion-card-header>
      
      <ion-card-title>Vehicle Name - {{parameters.Device_Name}}</ion-card-title>
      <ion-row>
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{currencyIcon}}{{paymentAmount/100}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      
      <!-- <button ion-button full color="gpsc" (click)="payWithRazor()">Pay with RazorPay</button> -->
    </ion-card-content>
  </ion-card>
  
</ion-content>